.half{
    display: flex;
}
.width{
    width: 50%;
    margin: 5%;
}
.img{
    width: 90%;
}
h1{
    font-size: 60px;
}
span{
    color: orange;
}
p{
    font-size: 20px;
}
h2{
    font-size: 40px;
}
button{
    text-decoration: none;
    font-weight: 700;
    color: white;
    background-image: linear-gradient(blue, purple);
    border-radius: 30px;
    padding: 15px 40px;
    font-size: 20px;
}
.padding{
    padding-top: 100px;padding-left: 50px;
}
#bg{
    background-image: url(photos/Frame\ 57.jpg);
    background-repeat: no-repeat;
    background-size: 100%;;
    margin: 0%;
}
#text{
    text-align: center;
    padding: 4%;
}
#rafsan{
    text-decoration: none;
}


.half2{
    display: flex;
}
.width2{
    width: 30%;
    margin: 5% 3%;
    text-align: justify;
    text-align: center;
    box-shadow: 10px 10px 40px gray;
    padding: 30px 15px;
    border-radius: 25px;
}
.width2 img{
    width: 90%;
    border-radius: 25px;
}
.width3{
    width: 30%;
    margin: 5% 3%;
    text-align: center;
}
#half3{
    display: flex;
    margin: 2% 15%;
    box-shadow: 10px 10px 40px gray;
    border-radius: 25px;

}
.half h1{
    color: rgb(100, 94, 94);
}
.half h2{
    color: rgb(119, 113, 113);
}
.half p{
    color: rgb(129, 122, 122);
}
#text h2{
    color: rgb(83, 60, 60);
}
#text p{
    color: rgb(112, 103, 103);
}
#half3 h2{
    font-size: 50px;
    font-weight: 900;
    color: rgb(99, 69, 69);
}
#half3 p{
    color: gray;
}
